html, body {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
}
h1#main_content_title {
    text-align: center;
    margin: 0;
}
.dummy_thing {
    border: 1px solid black;
}
canvas {
    background-color: black;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
}
